
{% extends 'main.html' %}
{% load staticfiles %}
{% block questionary %}
<div class="grid-container">
        <div class="grid-x">
        <div class="small-1 columns"></div> <!— Для отступа слева —>
                <form method="post" action="/questionary/save_questionary/">
                    {% csrf_token %}
  <p>1.Do you like IITU?</p>
  <p><input class="checkbox-row" type="checkbox" name="a" value="Yes">Yes</p>
    <p><input class="checkbox-row" type="checkbox" name="a" value="No">No</p>
  <p>2.Do teachers correctly teach lessons?</p>
  <p><input class="checkbox-row" type="checkbox" name="a" value="Yes">Yes</p>
  <p><input class="checkbox-row" type="checkbox" name="a" value="No">No</p>
                <input class="button" type="submit" name="a" value="Send">
</form>
    </div>
</div>
{% endblock %}