
{% extends 'main.html' %}
{% load staticfiles %}
{% block animal %}
<h4>The date of receipt: {{ animal.animal_date }}</h4>
<h2>{{ animal.animal_name }}</h2>
    <h3>{{ animal.animal_price }}</h3>
    <h3>The brief description:</h3>
<p>{{ animal.animal_desc }}</p>
<hr>
    <div class="large-offset-1 large-8 columns">
<p>Comments:</p>
{% for comment in comments %}
    <p>{{ comment.comment_text }}</p>
{% endfor %}
        {% if username %}
        <form action="/articles/addcomment/{{ animal.id }}/" method="post">
            {%  csrf_token %}
            {{ form }}
            <input type="submit" class="button" value="Add comment">
        </form>
    {% endif %}
    </div>
{% endblock %}